In [2]:
import pandas as pd
from utils import generate_student_id

In [3]:
df = pd.read_csv("data/TC_Aug1923_2024.csv")

Remove unecessary rows

In [5]:
df = df.drop(df.index[34:])

The column names are quite long, lets change that by mapping the orignal column name to our desired column name using a dictionary. We then use the *rename* method in pandas to change the dataframes column names

In [7]:
column_mapping = {
    "Name of Participant (First Name, Last Name)": "Full Name",
    "Nick Name": "Nickname",
    "Payment": "Payment Received",
    "School Attending": "School",
    "Main Contact e-mail address": "Main Contact E-Mail",
    "Main Contact phone number": "Main Contact Number",
    "Optional Second e-mail address": "Secondary E-Mail",
    "Choose your group": "Age Group",
    "Optional Second phone number": "Secondary Phone Number",
    "Thank your for signing up, please add any comments you would like us to know about.": "Additional Comments",
    "I, the parent or guardian of the player named above, acknowledge that when my child is playing/participating/performing basketball activities s/he may suffer injury. I release Top Flight Basketball Co. Ltd from any liability concerning any injury or harm suffered by my child during or as a consequence of participation in the activities.": "Injury Liability Waver",
    "I, the parent or legal guardian of the child named above grant Top Flight basketball Co. Ltd my permission to use the photographs taken at basketball sessions for any legal use, including but not limited to: publicity, copyright purposes, illustration, advertising, and web content. Furthermore, I understand that no royalty, fee or other compensation shall become payable to me by reason of such use.": "Photograph Release Agreement",
    "Once booking made payments can be made to the following bank account: Top Flight Basketball Company Limited - HSBC – 023-697444-838. Please send us proof of payment to INFO@TOPFLIGHTHONGKONG.COM with your child's name indicated.": "Payment Instruction Acknowledgement"
}

df.rename(columns=column_mapping, inplace=True)

In [8]:
df.head()

,Timestamp,Email Address,Full Name,Nickname,Aug 19,Aug 20,Aug 21,Aug 22,Aug 23,Payment Received,...,School,Age Group,Main Contact E-Mail,Main Contact Number,Secondary E-Mail,Secondary Phone Number,Payment Instruction Acknowledgement,Injury Liability Waver,Photograph Release Agreement,Additional Comments
0,7/16/2024 13:31:46,pacificocean1977@gmail.com,Deniz Kabadayi,Deniz,TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",...,DSC İnternational School,August 12-16 (Mon-Fri) at ESF / Ages 6-13 - 9:...,pacificocean1977@gmail.com,98099861,zafer.kabadayi@schindler.com,91918111,Confirm,Confirm,Confirm,NaN
1,7/16/2024 14:01:06,chewku@gmail.com,"Damian, Chew",Damian,TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",...,ESF Island School,August 12-16 (Mon-Fri) at ESF / Ages 6-13 - 9:...,Chewku@gmail.com,91836859,Chewdjm@gmail.com,91856675,Confirm,Confirm,Confirm,NaN
2,7/26/2024 13:45:05,joyce_mslai@hotmail.com,Jonas Chiu,Jonas,TRUE,TRUE,FALSE,TRUE,TRUE,"$1,800.00",...,South Island School,NaN,joyce_mslai@hotmail.com,92633705,NaN,NaN,Confirm,Confirm,Confirm,NaN
3,7/27/2024 6:34:32,Tereza_d@hotmail.com,Ethan Cheng,Ethan,TRUE,TRUE,FALSE,FALSE,TRUE,NaN,...,HKIS,NaN,Tereza_d@hotmail.com,Tereza_d@hotmail.com,NaN,NaN,Confirm,Confirm,Confirm,NaN
4,7/27/2024 6:36:31,Tereza_d@hotmail.com,Elliot Cheng,Elliot,TRUE,TRUE,TRUE,TRUE,TRUE,NaN,...,HKIS,NaN,Tereza_d@hotmail.com,Tereza_d@hotmail.com,NaN,NaN,Confirm,Confirm,Confirm,NaN

Lets remove anything that would give away the identity of our customers or columns we dont need. This would include columns such as "Email Address", "Nickname", "Main Contact Number", "Secondary Phone Number", "Main Contact E-Mail", "Age Group" and  "Secondary E-Mail". *We will not include "Full Name" as we will need it for the student id.*

In [10]:
id_cols_remove = ["Email Address", "Main Contact Number", "Main Contact E-Mail", "Secondary E-Mail", "Nickname", "Secondary Phone Number", "Age Group"]
[df.drop(x, axis=1, inplace=True) for x in id_cols_remove]

[None, None, None, None, None, None, None]

In [11]:
df

,Timestamp,Full Name,Aug 19,Aug 20,Aug 21,Aug 22,Aug 23,Payment Received,Jersey Sizes,Payment Date,Date of Birth,Age,Gender,School,Payment Instruction Acknowledgement,Injury Liability Waver,Photograph Release Agreement,Additional Comments
0,7/16/2024 13:31:46,Deniz Kabadayi,TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",34.0,Aug 24,12/22/2011,12,Female,DSC İnternational School,Confirm,Confirm,Confirm,NaN
1,7/16/2024 14:01:06,"Damian, Chew",TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",36.0,NaN,4/26/2012,12,Male,ESF Island School,Confirm,Confirm,Confirm,NaN
2,7/26/2024 13:45:05,Jonas Chiu,TRUE,TRUE,FALSE,TRUE,TRUE,"$1,800.00",34.0,NaN,9/12/2012,11,Male,South Island School,Confirm,Confirm,Confirm,NaN
3,7/27/2024 6:34:32,Ethan Cheng,TRUE,TRUE,FALSE,FALSE,TRUE,NaN,36.0,NaN,4/10/2012,12,Male,HKIS,Confirm,Confirm,Confirm,NaN
4,7/27/2024 6:36:31,Elliot Cheng,TRUE,TRUE,TRUE,TRUE,TRUE,NaN,34.0,NaN,10/27/2014,9,Male,HKIS,Confirm,Confirm,Confirm,NaN
5,7/30/2024 4:16:19,Luca Monguillot,TRUE,TRUE,TRUE,FALSE,TRUE,"$1,600.00",32.0,Aug 23,8/22/2015,9,Male,IMS,Confirm,Confirm,Confirm,As discussed with Agnes Luca will attend daily...
6,7/30/2024 6:38:05,Adam Lai,TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",34.0,July 30,10/17/2014,9,Male,HKIS,Confirm,Confirm,NaN,NaN
7,7/31/2024 6:49:26,Alexander Junas,TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",32.0,Aug 1,6/7/2013,11,Male,Silvermine bay school,Confirm,Confirm,Confirm,NaN
8,8/2/2024 11:00:47,Ryan Jenson LAM,FALSE,FALSE,FALSE,FALSE,FALSE,NaN,NaN,NaN,4/3/2012,12,Male,French International School,Confirm,Confirm,Confirm,NaN
9,8/2/2024 11:52:26,Loic VAN HOOF,TRUE,TRUE,TRUE,TRUE,TRUE,"$1,800.00",28.0,Aug 19,9/19/2017,6,Male,Victoria Shanghai Academy,Confirm,Confirm,Confirm,NaN
10,8/2/2024 12:15:57,Tristan Tsun,TRUE,TRUE,FALSE,FALSE,TRUE,"$2,000.00",34.0,Aug 11,2/27/2016,8,Male,Hkis,Confirm,Confirm,Confirm,NaN
11,8/5/2024 6:26:46,Charles Cheung,TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",30.0,Aug 23,5/19/2017,7,Male,Hong Kong Harrow International School,Confirm,Confirm,Confirm,Kindly please put Charles in a group with Loic...
12,8/5/2024 7:01:02,Nathan Liu,FALSE,FALSE,FALSE,FALSE,FALSE,NaN,NaN,NaN,11/2/2018,5,Male,The ISF School,Confirm,Confirm,Confirm,NaN
13,8/13/2024 12:27:02,Colin Lai,FALSE,TRUE,FALSE,TRUE,FALSE,$720.00,NaN,Aug 14,3/11/2013,11,Male,CDNIS,Confirm,Confirm,Confirm,NaN
14,8/15/2024 13:20:20,Sou Kimura,TRUE,TRUE,TRUE,TRUE,TRUE,"$1,800.00",34.0,NaN,6/6/2014,10,Male,YMCA Christian Academy,Confirm,Confirm,Confirm,NaN
15,8/18/2024 2:09:55,George Tilton/Theo Tilton,TRUE,TRUE,FALSE,TRUE,FALSE,"$2,000.00",NaN,NaN,8/21/2011,13,Male,Chinese International School,Confirm,Confirm,Confirm,"George can only come on Mon, Tues and Thurs of..."
16,8/18/2024 3:43:37,Chace Co,TRUE,FALSE,FALSE,FALSE,FALSE,NaN,NaN,NaN,6/19/2011,13,Male,CIS,Confirm,Confirm,Confirm,Chace can go Monday and Friday for sure. He is...
17,8/18/2024 9:34:53,Callum Houdijk,TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",36.0,Aug 18,2/1/2013,11,Male,Kellett,Confirm,Confirm,Confirm,NaN
18,8/18/2024 13:37:18,Timeo daniels,TRUE,FALSE,TRUE,FALSE,TRUE,"$1,200.00",40.0,NaN,4/21/2010,14,Male,Canadian international school,Confirm,Confirm,Confirm,"Hello, can timeo please do 2 or 3 classes this..."
19,8/18/2024 13:52:32,Brayden Ho,TRUE,TRUE,FALSE,FALSE,TRUE,"$2,000.00",38.0,NaN,9/20/2011,12,Male,ESF SIS,Confirm,Confirm,Confirm,"Joining 19/8, 20/8, 23/8 , 3 classes only"
20,8/18/2024 15:26:00,Jayden Zhou,FALSE,FALSE,FALSE,TRUE,TRUE,"$2,000.00",32.0,NaN,3/23/2016,8,Male,HKIS,Confirm,Confirm,Confirm,NaN
21,8/18/2024 18:01:33,Zachary Fung,FALSE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",40.0,NaN,8/5/2010,14,Male,Canadian International School,Confirm,Confirm,Confirm,NaN
22,8/18/2024 18:39:17,"Tang, Athena; Tang, Joyce",FALSE,FALSE,FALSE,FALSE,FALSE,NaN,NaN,NaN,7/9/2012,12,Female,Chinese International School,Confirm,Confirm,Confirm,NaN
23,8/18/2024 18:52:33,Wesley Leong,FALSE,TRUE,TRUE,FALSE,FALSE,$400.00,NaN,Aug 24,5/13/2008,16,Male,Harrow School,Confirm,Confirm,Confirm,Can Wesley sign up for one trial lesson?
24,8/19/2024 4:36:31,Lachlan Lo,TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",26.0,NaN,6/11/2018,6,Male,SJPS,Confirm,Confirm,Confirm,NaN
25,8/19/2024 7:35:04,Blake YAM,TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",38.0,NaN,12/17/2012,11,Male,AISHK,Confirm,Confirm,Confirm,NaN
26,8/19/2024 7:35:53,Mackenzie Yam,TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",30.0,NaN,8/31/2015,8,Female,AISHK,Confirm,Confirm,Confirm,NaN
27,8/19/2024 9:53:38,Klement Wong,TRUE,TRUE,TRUE,TRUE,FALSE,"$2,000.00",NaN,Aug 19,10/13/2015,8,Male,Australian International School,Confirm,Confirm,Confirm,NaN
28,8/19/2024 13:34:27,Cohen cheng,TRUE,FALSE,TRUE,FALSE,FALSE,"$1,200.00",NaN,NaN,9/24/2010,13,Male,CIS,Confirm,Confirm,Confirm,Cohen will attend 3 sessions so I have made $1...
29,8/19/2024 15:02:07,Midori Kimura,TRUE,TRUE,TRUE,TRUE,FALSE,"$2,000.00",26.0,NaN,4/8/2018,6,Female,YMCA Christian Academy,Confirm,Confirm,Confirm,NaN
30,NaN,Oscar Gustave Breidenbach,TRUE,TRUE,TRUE,TRUE,TRUE,NaN,NaN,NaN,NaN,NaN,Male,NaN,NaN,NaN,NaN,NaN
31,NaN,Caleb Wang,FALSE,FALSE,TRUE,FALSE,TRUE,$800.00,42.0,Aug 21,NaN,NaN,Male,NaN,NaN,NaN,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

After Skimming, I noticed some missing information. Two names are missing, lets fill them in row 32 and 33. They also attended every class, and are male. There are also four students missing information, lets add that information.

In [13]:
# Change misspelling in row 31 and Fill in Names at row 32 and 33
df.at[31,'Full Name'] = 'Caleb Wan'
df.at[32, 'Full Name'] = 'Andrew Atayde'
df.at[33, 'Full Name'] = 'Anthony Atayde'
# Fill in Attendance at row 32 and 33 from Aug 19 - Aug 23
df.iloc[32, 2:7] = 'TRUE'
df.iloc[33, 2:7] = 'TRUE'
# Fill in Gender at row 32 and 33.
df.at[32, 'Gender'] = 'Male'
df.at[33, 'Gender'] = 'Male'
# Fill in missing Date of Birth for row 30:34
df.at[30,'Date of Birth'] = '1/1/2017'
df.at[31,'Date of Birth'] = '1/1/2017'
df.at[32,'Date of Birth'] = '10/14/2009'
df.at[33,'Date of Birth'] = '5/31/2008'
# Fill in missing Ages for row 30:34
df.at[30,'Age'] = '9'
df.at[31,'Age'] = '14'
df.at[32,'Age'] = '14'
df.at[33,'Age'] = '16'
# Fill in missing Schools
df.at[30,'School'] = 'Unknown'
df.at[31,'School'] = 'Canadian International School'
df.at[32,'School'] = 'DSC'
df.at[33,'School'] = 'DSC'

df

,Timestamp,Full Name,Aug 19,Aug 20,Aug 21,Aug 22,Aug 23,Payment Received,Jersey Sizes,Payment Date,Date of Birth,Age,Gender,School,Payment Instruction Acknowledgement,Injury Liability Waver,Photograph Release Agreement,Additional Comments
0,7/16/2024 13:31:46,Deniz Kabadayi,TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",34.0,Aug 24,12/22/2011,12,Female,DSC İnternational School,Confirm,Confirm,Confirm,NaN
1,7/16/2024 14:01:06,"Damian, Chew",TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",36.0,NaN,4/26/2012,12,Male,ESF Island School,Confirm,Confirm,Confirm,NaN
2,7/26/2024 13:45:05,Jonas Chiu,TRUE,TRUE,FALSE,TRUE,TRUE,"$1,800.00",34.0,NaN,9/12/2012,11,Male,South Island School,Confirm,Confirm,Confirm,NaN
3,7/27/2024 6:34:32,Ethan Cheng,TRUE,TRUE,FALSE,FALSE,TRUE,NaN,36.0,NaN,4/10/2012,12,Male,HKIS,Confirm,Confirm,Confirm,NaN
4,7/27/2024 6:36:31,Elliot Cheng,TRUE,TRUE,TRUE,TRUE,TRUE,NaN,34.0,NaN,10/27/2014,9,Male,HKIS,Confirm,Confirm,Confirm,NaN
5,7/30/2024 4:16:19,Luca Monguillot,TRUE,TRUE,TRUE,FALSE,TRUE,"$1,600.00",32.0,Aug 23,8/22/2015,9,Male,IMS,Confirm,Confirm,Confirm,As discussed with Agnes Luca will attend daily...
6,7/30/2024 6:38:05,Adam Lai,TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",34.0,July 30,10/17/2014,9,Male,HKIS,Confirm,Confirm,NaN,NaN
7,7/31/2024 6:49:26,Alexander Junas,TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",32.0,Aug 1,6/7/2013,11,Male,Silvermine bay school,Confirm,Confirm,Confirm,NaN
8,8/2/2024 11:00:47,Ryan Jenson LAM,FALSE,FALSE,FALSE,FALSE,FALSE,NaN,NaN,NaN,4/3/2012,12,Male,French International School,Confirm,Confirm,Confirm,NaN
9,8/2/2024 11:52:26,Loic VAN HOOF,TRUE,TRUE,TRUE,TRUE,TRUE,"$1,800.00",28.0,Aug 19,9/19/2017,6,Male,Victoria Shanghai Academy,Confirm,Confirm,Confirm,NaN
10,8/2/2024 12:15:57,Tristan Tsun,TRUE,TRUE,FALSE,FALSE,TRUE,"$2,000.00",34.0,Aug 11,2/27/2016,8,Male,Hkis,Confirm,Confirm,Confirm,NaN
11,8/5/2024 6:26:46,Charles Cheung,TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",30.0,Aug 23,5/19/2017,7,Male,Hong Kong Harrow International School,Confirm,Confirm,Confirm,Kindly please put Charles in a group with Loic...
12,8/5/2024 7:01:02,Nathan Liu,FALSE,FALSE,FALSE,FALSE,FALSE,NaN,NaN,NaN,11/2/2018,5,Male,The ISF School,Confirm,Confirm,Confirm,NaN
13,8/13/2024 12:27:02,Colin Lai,FALSE,TRUE,FALSE,TRUE,FALSE,$720.00,NaN,Aug 14,3/11/2013,11,Male,CDNIS,Confirm,Confirm,Confirm,NaN
14,8/15/2024 13:20:20,Sou Kimura,TRUE,TRUE,TRUE,TRUE,TRUE,"$1,800.00",34.0,NaN,6/6/2014,10,Male,YMCA Christian Academy,Confirm,Confirm,Confirm,NaN
15,8/18/2024 2:09:55,George Tilton/Theo Tilton,TRUE,TRUE,FALSE,TRUE,FALSE,"$2,000.00",NaN,NaN,8/21/2011,13,Male,Chinese International School,Confirm,Confirm,Confirm,"George can only come on Mon, Tues and Thurs of..."
16,8/18/2024 3:43:37,Chace Co,TRUE,FALSE,FALSE,FALSE,FALSE,NaN,NaN,NaN,6/19/2011,13,Male,CIS,Confirm,Confirm,Confirm,Chace can go Monday and Friday for sure. He is...
17,8/18/2024 9:34:53,Callum Houdijk,TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",36.0,Aug 18,2/1/2013,11,Male,Kellett,Confirm,Confirm,Confirm,NaN
18,8/18/2024 13:37:18,Timeo daniels,TRUE,FALSE,TRUE,FALSE,TRUE,"$1,200.00",40.0,NaN,4/21/2010,14,Male,Canadian international school,Confirm,Confirm,Confirm,"Hello, can timeo please do 2 or 3 classes this..."
19,8/18/2024 13:52:32,Brayden Ho,TRUE,TRUE,FALSE,FALSE,TRUE,"$2,000.00",38.0,NaN,9/20/2011,12,Male,ESF SIS,Confirm,Confirm,Confirm,"Joining 19/8, 20/8, 23/8 , 3 classes only"
20,8/18/2024 15:26:00,Jayden Zhou,FALSE,FALSE,FALSE,TRUE,TRUE,"$2,000.00",32.0,NaN,3/23/2016,8,Male,HKIS,Confirm,Confirm,Confirm,NaN
21,8/18/2024 18:01:33,Zachary Fung,FALSE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",40.0,NaN,8/5/2010,14,Male,Canadian International School,Confirm,Confirm,Confirm,NaN
22,8/18/2024 18:39:17,"Tang, Athena; Tang, Joyce",FALSE,FALSE,FALSE,FALSE,FALSE,NaN,NaN,NaN,7/9/2012,12,Female,Chinese International School,Confirm,Confirm,Confirm,NaN
23,8/18/2024 18:52:33,Wesley Leong,FALSE,TRUE,TRUE,FALSE,FALSE,$400.00,NaN,Aug 24,5/13/2008,16,Male,Harrow School,Confirm,Confirm,Confirm,Can Wesley sign up for one trial lesson?
24,8/19/2024 4:36:31,Lachlan Lo,TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",26.0,NaN,6/11/2018,6,Male,SJPS,Confirm,Confirm,Confirm,NaN
25,8/19/2024 7:35:04,Blake YAM,TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",38.0,NaN,12/17/2012,11,Male,AISHK,Confirm,Confirm,Confirm,NaN
26,8/19/2024 7:35:53,Mackenzie Yam,TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",30.0,NaN,8/31/2015,8,Female,AISHK,Confirm,Confirm,Confirm,NaN
27,8/19/2024 9:53:38,Klement Wong,TRUE,TRUE,TRUE,TRUE,FALSE,"$2,000.00",NaN,Aug 19,10/13/2015,8,Male,Australian International School,Confirm,Confirm,Confirm,NaN
28,8/19/2024 13:34:27,Cohen cheng,TRUE,FALSE,TRUE,FALSE,FALSE,"$1,200.00",NaN,NaN,9/24/2010,13,Male,CIS,Confirm,Confirm,Confirm,Cohen will attend 3 sessions so I have made $1...
29,8/19/2024 15:02:07,Midori Kimura,TRUE,TRUE,TRUE,TRUE,FALSE,"$2,000.00",26.0,NaN,4/8/2018,6,Female,YMCA Christian Academy,Confirm,Confirm,Confirm,NaN
30,NaN,Oscar Gustave Breidenbach,TRUE,TRUE,TRUE,TRUE,TRUE,NaN,NaN,NaN,1/1/2017,9,Male,Unknown,NaN,NaN,NaN,NaN
31,NaN,Caleb Wan,FALSE,FALSE,TRUE,FALSE,TRUE,$800.00,42.0,Aug 21,1/1/2017,14,Male,Canadian International School,NaN,NaN,NaN,NaN
32,NaN,Andrew Atayde,TRUE,TRUE,TRUE,TRUE,TRUE,NaN,40.0,NaN,10/14/2009,14,Male,DSC,NaN,NaN,NaN,NaN
33,NaN,Anthony Atayde,TRUE,TRUE,TRUE,TRUE,TRUE,NaN,40.0,NaN,5/31/2008,16,Male,DSC,NaN,NaN,NaN,NaN

In [48]:
school_mappings = {
    "DSC İnternational School": "DSC International School",
    "DSC": "DSC International School",
    "ESF Island School": "ESF Island School",
    "South Island School": "South Island School",
    "HKIS": "Hong Kong International School",
    "Hkis": "Hong Kong International School",
    "IMS": "International Montessori School",
    "Silvermine bay school": "Silvermine Bay School",
    "French International School": "French International School",
    "Victoria Shanghai Academy": "Victoria Shanghai Academy",
    "Hong Kong Harrow International School": "Harrow International School",
    "The ISF School": "ISF Academy",
    "CDNIS": "Canadian International School",
    "YMCA Christian Academy": "YMCA Christian Academy",
    "Chinese International School": "Chinese International School",
    "CIS": "Chinese International School",
    "Kellett": "Kellett School",
    "ESF SIS": "ESF South Island School",
    "Harrow School": "Harrow International School",
    "SJPS": "St. Joseph's Primary School",
    "AISHK": "Australian International School",
    "Australian International School": "Australian International School"
}

In [62]:
def standardize_school_name(school_name):
    return school_mappings.get(school_name.strip(), school_name)

df['School'] = df['School'].apply(standardize_school_name)

/var/folders/k8/54zwc4911p16cz5tw9zrk4vh0000gn/T/ipykernel_15833/986236884.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['School'] = df['School'].apply(standardize_school_name)

In [64]:
df

,Timestamp,Student ID,Aug 19,Aug 20,Aug 21,Aug 22,Aug 23,Payment Received,Jersey Sizes,Payment Date,Date of Birth,Age,Gender,School,Payment Instruction Acknowledgement,Injury Liability Waver,Photograph Release Agreement
0,7/16/2024 13:31:46,DK-201112-0,TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",34.0,Aug 24,12/22/2011,12,Female,DSC International School,Confirm,Confirm,Confirm
1,7/16/2024 14:01:06,DC-201204-1,TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",36.0,NaN,4/26/2012,12,Male,ESF Island School,Confirm,Confirm,Confirm
2,7/26/2024 13:45:05,JC-201209-1,TRUE,TRUE,FALSE,TRUE,TRUE,"$1,800.00",34.0,NaN,9/12/2012,11,Male,South Island School,Confirm,Confirm,Confirm
3,7/27/2024 6:34:32,EC-201204-1,TRUE,TRUE,FALSE,FALSE,TRUE,NaN,36.0,NaN,4/10/2012,12,Male,Hong Kong International School,Confirm,Confirm,Confirm
4,7/27/2024 6:36:31,EC-201410-1,TRUE,TRUE,TRUE,TRUE,TRUE,NaN,34.0,NaN,10/27/2014,9,Male,Hong Kong International School,Confirm,Confirm,Confirm
5,7/30/2024 4:16:19,LM-201508-1,TRUE,TRUE,TRUE,FALSE,TRUE,"$1,600.00",32.0,Aug 23,8/22/2015,9,Male,International Montessori School,Confirm,Confirm,Confirm
6,7/30/2024 6:38:05,AL-201410-1,TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",34.0,July 30,10/17/2014,9,Male,Hong Kong International School,Confirm,Confirm,NaN
7,7/31/2024 6:49:26,AJ-201306-1,TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",32.0,Aug 1,6/7/2013,11,Male,Silvermine Bay School,Confirm,Confirm,Confirm
8,8/2/2024 11:00:47,RJL-201204-1,FALSE,FALSE,FALSE,FALSE,FALSE,NaN,NaN,NaN,4/3/2012,12,Male,French International School,Confirm,Confirm,Confirm
9,8/2/2024 11:52:26,LVH-201709-1,TRUE,TRUE,TRUE,TRUE,TRUE,"$1,800.00",28.0,Aug 19,9/19/2017,6,Male,Victoria Shanghai Academy,Confirm,Confirm,Confirm
10,8/2/2024 12:15:57,TT-201602-1,TRUE,TRUE,FALSE,FALSE,TRUE,"$2,000.00",34.0,Aug 11,2/27/2016,8,Male,Hong Kong International School,Confirm,Confirm,Confirm
11,8/5/2024 6:26:46,CC-201705-1,TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",30.0,Aug 23,5/19/2017,7,Male,Harrow International School,Confirm,Confirm,Confirm
12,8/5/2024 7:01:02,NL-201811-1,FALSE,FALSE,FALSE,FALSE,FALSE,NaN,NaN,NaN,11/2/2018,5,Male,ISF Academy,Confirm,Confirm,Confirm
13,8/13/2024 12:27:02,CL-201303-1,FALSE,TRUE,FALSE,TRUE,FALSE,$720.00,NaN,Aug 14,3/11/2013,11,Male,Canadian International School,Confirm,Confirm,Confirm
14,8/15/2024 13:20:20,SK-201406-1,TRUE,TRUE,TRUE,TRUE,TRUE,"$1,800.00",34.0,NaN,6/6/2014,10,Male,YMCA Christian Academy,Confirm,Confirm,Confirm
15,8/18/2024 2:09:55,GTT-201108-1,TRUE,TRUE,FALSE,TRUE,FALSE,"$2,000.00",NaN,NaN,8/21/2011,13,Male,Chinese International School,Confirm,Confirm,Confirm
16,8/18/2024 3:43:37,CC-201106-1,TRUE,FALSE,FALSE,FALSE,FALSE,NaN,NaN,NaN,6/19/2011,13,Male,Chinese International School,Confirm,Confirm,Confirm
17,8/18/2024 9:34:53,CH-201302-1,TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",36.0,Aug 18,2/1/2013,11,Male,Kellett School,Confirm,Confirm,Confirm
18,8/18/2024 13:37:18,TD-201004-1,TRUE,FALSE,TRUE,FALSE,TRUE,"$1,200.00",40.0,NaN,4/21/2010,14,Male,Canadian international school,Confirm,Confirm,Confirm
19,8/18/2024 13:52:32,BH-201109-1,TRUE,TRUE,FALSE,FALSE,TRUE,"$2,000.00",38.0,NaN,9/20/2011,12,Male,ESF South Island School,Confirm,Confirm,Confirm
20,8/18/2024 15:26:00,JZ-201603-1,FALSE,FALSE,FALSE,TRUE,TRUE,"$2,000.00",32.0,NaN,3/23/2016,8,Male,Hong Kong International School,Confirm,Confirm,Confirm
21,8/18/2024 18:01:33,ZF-201008-1,FALSE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",40.0,NaN,8/5/2010,14,Male,Canadian International School,Confirm,Confirm,Confirm
22,8/18/2024 18:39:17,TAJ-201207-0,FALSE,FALSE,FALSE,FALSE,FALSE,NaN,NaN,NaN,7/9/2012,12,Female,Chinese International School,Confirm,Confirm,Confirm
23,8/18/2024 18:52:33,WL-200805-1,FALSE,TRUE,TRUE,FALSE,FALSE,$400.00,NaN,Aug 24,5/13/2008,16,Male,Harrow International School,Confirm,Confirm,Confirm
24,8/19/2024 4:36:31,LL-201806-1,TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",26.0,NaN,6/11/2018,6,Male,St. Joseph's Primary School,Confirm,Confirm,Confirm
25,8/19/2024 7:35:04,BY-201212-1,TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",38.0,NaN,12/17/2012,11,Male,Australian International School,Confirm,Confirm,Confirm
26,8/19/2024 7:35:53,MY-201508-0,TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",30.0,NaN,8/31/2015,8,Female,Australian International School,Confirm,Confirm,Confirm
27,8/19/2024 9:53:38,KW-201510-1,TRUE,TRUE,TRUE,TRUE,FALSE,"$2,000.00",NaN,Aug 19,10/13/2015,8,Male,Australian International School,Confirm,Confirm,Confirm
28,8/19/2024 13:34:27,CC-201009-1,TRUE,FALSE,TRUE,FALSE,FALSE,"$1,200.00",NaN,NaN,9/24/2010,13,Male,Chinese International School,Confirm,Confirm,Confirm
29,8/19/2024 15:02:07,MK-201804-0,TRUE,TRUE,TRUE,TRUE,FALSE,"$2,000.00",26.0,NaN,4/8/2018,6,Female,YMCA Christian Academy,Confirm,Confirm,Confirm
30,NaN,OGB-201701-1,TRUE,TRUE,TRUE,TRUE,TRUE,NaN,NaN,NaN,1/1/2017,9,Male,Unknown,NaN,NaN,NaN
31,NaN,CW-201701-1,FALSE,FALSE,TRUE,FALSE,TRUE,$800.00,42.0,Aug 21,1/1/2017,14,Male,Canadian International School,NaN,NaN,NaN
32,NaN,AA-200910-1,TRUE,TRUE,TRUE,TRUE,TRUE,NaN,40.0,NaN,10/14/2009,14,Male,DSC International School,NaN,NaN,NaN
33,NaN,AA-200805-1,TRUE,TRUE,TRUE,TRUE,TRUE,NaN,40.0,NaN,5/31/2008,16,Male,DSC International School,NaN,NaN,NaN

Lets create the student ID. We will use the Initials of First, Middle and Last Names followed by a hyphen ("-"), then the Year and Month of their date of birth (YYYYMM), and their Gender (Female = 0 and Male = 1) For example: Scott Matthew Summers 1977/09/22 Male = SMS-197709-01

In [18]:
student_id_cols = df[["Full Name", "Date of Birth", "Gender"]]
student_id_cols

                    Full Name Date of Birth  Gender
0              Deniz Kabadayi    12/22/2011  Female
1                Damian, Chew     4/26/2012    Male
2                  Jonas Chiu     9/12/2012    Male
3                 Ethan Cheng     4/10/2012    Male
4                Elliot Cheng    10/27/2014    Male
5            Luca Monguillot      8/22/2015    Male
6                    Adam Lai    10/17/2014    Male
7             Alexander Junas      6/7/2013    Male
8             Ryan Jenson LAM      4/3/2012    Male
9               Loic VAN HOOF     9/19/2017    Male
10               Tristan Tsun     2/27/2016    Male
11             Charles Cheung     5/19/2017    Male
12                 Nathan Liu     11/2/2018    Male
13                  Colin Lai     3/11/2013    Male
14                Sou Kimura       6/6/2014    Male
15  George Tilton/Theo Tilton     8/21/2011    Male
16                   Chace Co     6/19/2011    Male
17             Callum Houdijk      2/1/2013    Male
18             Timeo daniels      4/21/2010    Male
19                 Brayden Ho     9/20/2011    Male
20                Jayden Zhou     3/23/2016    Male
21               Zachary Fung      8/5/2010    Male
22  Tang, Athena; Tang, Joyce      7/9/2012  Female
23               Wesley Leong     5/13/2008    Male
24                 Lachlan Lo     6/11/2018    Male
25                  Blake YAM    12/17/2012    Male
26              Mackenzie Yam     8/31/2015  Female
27               Klement Wong    10/13/2015    Male
28               Cohen cheng      9/24/2010    Male
29             Midori Kimura       4/8/2018  Female
30  Oscar Gustave Breidenbach      1/1/2017    Male
31                  Caleb Wan      1/1/2017    Male
32              Andrew Atayde    10/14/2009    Male
33             Anthony Atayde     5/31/2008    Male

I will create a function *create_student_id* in my *utils.py* script

In [20]:
student_id_cols["Student ID"] = df.apply(generate_student_id, axis=1)

/var/folders/k8/54zwc4911p16cz5tw9zrk4vh0000gn/T/ipykernel_15833/2175618548.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  student_id_cols["Student ID"] = df.apply(generate_student_id, axis=1)

In [21]:
student_id_cols.drop(["Full Name"], axis=1, inplace=True)

/var/folders/k8/54zwc4911p16cz5tw9zrk4vh0000gn/T/ipykernel_15833/486631525.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  student_id_cols.drop(["Full Name"], axis=1, inplace=True)

In [22]:
student_id_cols

   Date of Birth  Gender    Student ID
0     12/22/2011  Female   DK-201112-0
1      4/26/2012    Male   DC-201204-1
2      9/12/2012    Male   JC-201209-1
3      4/10/2012    Male   EC-201204-1
4     10/27/2014    Male   EC-201410-1
5      8/22/2015    Male   LM-201508-1
6     10/17/2014    Male   AL-201410-1
7       6/7/2013    Male   AJ-201306-1
8       4/3/2012    Male  RJL-201204-1
9      9/19/2017    Male  LVH-201709-1
10     2/27/2016    Male   TT-201602-1
11     5/19/2017    Male   CC-201705-1
12     11/2/2018    Male   NL-201811-1
13     3/11/2013    Male   CL-201303-1
14      6/6/2014    Male   SK-201406-1
15     8/21/2011    Male  GTT-201108-1
16     6/19/2011    Male   CC-201106-1
17      2/1/2013    Male   CH-201302-1
18     4/21/2010    Male   TD-201004-1
19     9/20/2011    Male   BH-201109-1
20     3/23/2016    Male   JZ-201603-1
21      8/5/2010    Male   ZF-201008-1
22      7/9/2012  Female  TAJ-201207-0
23     5/13/2008    Male   WL-200805-1
24     6/11/2018    Male   LL-201806-1
25    12/17/2012    Male   BY-201212-1
26     8/31/2015  Female   MY-201508-0
27    10/13/2015    Male   KW-201510-1
28     9/24/2010    Male   CC-201009-1
29      4/8/2018  Female   MK-201804-0
30      1/1/2017    Male  OGB-201701-1
31      1/1/2017    Male   CW-201701-1
32    10/14/2009    Male   AA-200910-1
33     5/31/2008    Male   AA-200805-1

In [23]:
df["Student ID"] = student_id_cols["Student ID"]
df

,Timestamp,Full Name,Aug 19,Aug 20,Aug 21,Aug 22,Aug 23,Payment Received,Jersey Sizes,Payment Date,Date of Birth,Age,Gender,School,Payment Instruction Acknowledgement,Injury Liability Waver,Photograph Release Agreement,Additional Comments,Student ID
0,7/16/2024 13:31:46,Deniz Kabadayi,TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",34.0,Aug 24,12/22/2011,12,Female,DSC İnternational School,Confirm,Confirm,Confirm,NaN,DK-201112-0
1,7/16/2024 14:01:06,"Damian, Chew",TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",36.0,NaN,4/26/2012,12,Male,ESF Island School,Confirm,Confirm,Confirm,NaN,DC-201204-1
2,7/26/2024 13:45:05,Jonas Chiu,TRUE,TRUE,FALSE,TRUE,TRUE,"$1,800.00",34.0,NaN,9/12/2012,11,Male,South Island School,Confirm,Confirm,Confirm,NaN,JC-201209-1
3,7/27/2024 6:34:32,Ethan Cheng,TRUE,TRUE,FALSE,FALSE,TRUE,NaN,36.0,NaN,4/10/2012,12,Male,HKIS,Confirm,Confirm,Confirm,NaN,EC-201204-1
4,7/27/2024 6:36:31,Elliot Cheng,TRUE,TRUE,TRUE,TRUE,TRUE,NaN,34.0,NaN,10/27/2014,9,Male,HKIS,Confirm,Confirm,Confirm,NaN,EC-201410-1
5,7/30/2024 4:16:19,Luca Monguillot,TRUE,TRUE,TRUE,FALSE,TRUE,"$1,600.00",32.0,Aug 23,8/22/2015,9,Male,IMS,Confirm,Confirm,Confirm,As discussed with Agnes Luca will attend daily...,LM-201508-1
6,7/30/2024 6:38:05,Adam Lai,TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",34.0,July 30,10/17/2014,9,Male,HKIS,Confirm,Confirm,NaN,NaN,AL-201410-1
7,7/31/2024 6:49:26,Alexander Junas,TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",32.0,Aug 1,6/7/2013,11,Male,Silvermine bay school,Confirm,Confirm,Confirm,NaN,AJ-201306-1
8,8/2/2024 11:00:47,Ryan Jenson LAM,FALSE,FALSE,FALSE,FALSE,FALSE,NaN,NaN,NaN,4/3/2012,12,Male,French International School,Confirm,Confirm,Confirm,NaN,RJL-201204-1
9,8/2/2024 11:52:26,Loic VAN HOOF,TRUE,TRUE,TRUE,TRUE,TRUE,"$1,800.00",28.0,Aug 19,9/19/2017,6,Male,Victoria Shanghai Academy,Confirm,Confirm,Confirm,NaN,LVH-201709-1
10,8/2/2024 12:15:57,Tristan Tsun,TRUE,TRUE,FALSE,FALSE,TRUE,"$2,000.00",34.0,Aug 11,2/27/2016,8,Male,Hkis,Confirm,Confirm,Confirm,NaN,TT-201602-1
11,8/5/2024 6:26:46,Charles Cheung,TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",30.0,Aug 23,5/19/2017,7,Male,Hong Kong Harrow International School,Confirm,Confirm,Confirm,Kindly please put Charles in a group with Loic...,CC-201705-1
12,8/5/2024 7:01:02,Nathan Liu,FALSE,FALSE,FALSE,FALSE,FALSE,NaN,NaN,NaN,11/2/2018,5,Male,The ISF School,Confirm,Confirm,Confirm,NaN,NL-201811-1
13,8/13/2024 12:27:02,Colin Lai,FALSE,TRUE,FALSE,TRUE,FALSE,$720.00,NaN,Aug 14,3/11/2013,11,Male,CDNIS,Confirm,Confirm,Confirm,NaN,CL-201303-1
14,8/15/2024 13:20:20,Sou Kimura,TRUE,TRUE,TRUE,TRUE,TRUE,"$1,800.00",34.0,NaN,6/6/2014,10,Male,YMCA Christian Academy,Confirm,Confirm,Confirm,NaN,SK-201406-1
15,8/18/2024 2:09:55,George Tilton/Theo Tilton,TRUE,TRUE,FALSE,TRUE,FALSE,"$2,000.00",NaN,NaN,8/21/2011,13,Male,Chinese International School,Confirm,Confirm,Confirm,"George can only come on Mon, Tues and Thurs of...",GTT-201108-1
16,8/18/2024 3:43:37,Chace Co,TRUE,FALSE,FALSE,FALSE,FALSE,NaN,NaN,NaN,6/19/2011,13,Male,CIS,Confirm,Confirm,Confirm,Chace can go Monday and Friday for sure. He is...,CC-201106-1
17,8/18/2024 9:34:53,Callum Houdijk,TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",36.0,Aug 18,2/1/2013,11,Male,Kellett,Confirm,Confirm,Confirm,NaN,CH-201302-1
18,8/18/2024 13:37:18,Timeo daniels,TRUE,FALSE,TRUE,FALSE,TRUE,"$1,200.00",40.0,NaN,4/21/2010,14,Male,Canadian international school,Confirm,Confirm,Confirm,"Hello, can timeo please do 2 or 3 classes this...",TD-201004-1
19,8/18/2024 13:52:32,Brayden Ho,TRUE,TRUE,FALSE,FALSE,TRUE,"$2,000.00",38.0,NaN,9/20/2011,12,Male,ESF SIS,Confirm,Confirm,Confirm,"Joining 19/8, 20/8, 23/8 , 3 classes only",BH-201109-1
20,8/18/2024 15:26:00,Jayden Zhou,FALSE,FALSE,FALSE,TRUE,TRUE,"$2,000.00",32.0,NaN,3/23/2016,8,Male,HKIS,Confirm,Confirm,Confirm,NaN,JZ-201603-1
21,8/18/2024 18:01:33,Zachary Fung,FALSE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",40.0,NaN,8/5/2010,14,Male,Canadian International School,Confirm,Confirm,Confirm,NaN,ZF-201008-1
22,8/18/2024 18:39:17,"Tang, Athena; Tang, Joyce",FALSE,FALSE,FALSE,FALSE,FALSE,NaN,NaN,NaN,7/9/2012,12,Female,Chinese International School,Confirm,Confirm,Confirm,NaN,TAJ-201207-0
23,8/18/2024 18:52:33,Wesley Leong,FALSE,TRUE,TRUE,FALSE,FALSE,$400.00,NaN,Aug 24,5/13/2008,16,Male,Harrow School,Confirm,Confirm,Confirm,Can Wesley sign up for one trial lesson?,WL-200805-1
24,8/19/2024 4:36:31,Lachlan Lo,TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",26.0,NaN,6/11/2018,6,Male,SJPS,Confirm,Confirm,Confirm,NaN,LL-201806-1
25,8/19/2024 7:35:04,Blake YAM,TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",38.0,NaN,12/17/2012,11,Male,AISHK,Confirm,Confirm,Confirm,NaN,BY-201212-1
26,8/19/2024 7:35:53,Mackenzie Yam,TRUE,TRUE,TRUE,TRUE,TRUE,"$2,000.00",30.0,NaN,8/31/2015,8,Female,AISHK,Confirm,Confirm,Confirm,NaN,MY-201508-0
27,8/19/2024 9:53:38,Klement Wong,TRUE,TRUE,TRUE,TRUE,FALSE,"$2,000.00",NaN,Aug 19,10/13/2015,8,Male,Australian International School,Confirm,Confirm,Confirm,NaN,KW-201510-1
28,8/19/2024 13:34:27,Cohen cheng,TRUE,FALSE,TRUE,FALSE,FALSE,"$1,200.00",NaN,NaN,9/24/2010,13,Male,CIS,Confirm,Confirm,Confirm,Cohen will attend 3 sessions so I have made $1...,CC-201009-1
29,8/19/2024 15:02:07,Midori Kimura,TRUE,TRUE,TRUE,TRUE,FALSE,"$2,000.00",26.0,NaN,4/8/2018,6,Female,YMCA Christian Academy,Confirm,Confirm,Confirm,NaN,MK-201804-0
30,NaN,Oscar Gustave Breidenbach,TRUE,TRUE,TRUE,TRUE,TRUE,NaN,NaN,NaN,1/1/2017,9,Male,Unknown,NaN,NaN,NaN,NaN,OGB-201701-1
31,NaN,Caleb Wan,FALSE,FALSE,TRUE,FALSE,TRUE,$800.00,42.0,Aug 21,1/1/2017,14,Male,Canadian International School,NaN,NaN,NaN,NaN,CW-201701-1
32,NaN,Andrew Atayde,TRUE,TRUE,TRUE,TRUE,TRUE,NaN,40.0,NaN,10/14/2009,14,Male,DSC,NaN,NaN,NaN,NaN,AA-200910-1
33,NaN,Anthony Atayde,TRUE,TRUE,TRUE,TRUE,TRUE,NaN,40.0,NaN,5/31/2008,16,Male,DSC,NaN,NaN,NaN,NaN,AA-200805-1

We want Student ID in the 2nd column, lets change that

In [25]:
cols = list(df.columns)
cols.insert(1, cols.pop(cols.index('Student ID')))
df = df[cols]

Now lets remove the Full Name column as we do not need it anymore

In [27]:
df.drop("Full Name",axis=1, inplace=True)
df.drop("Additional Comments", axis=1, inplace=True)

/var/folders/k8/54zwc4911p16cz5tw9zrk4vh0000gn/T/ipykernel_15833/3684202496.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop("Full Name",axis=1, inplace=True)
/var/folders/k8/54zwc4911p16cz5tw9zrk4vh0000gn/T/ipykernel_15833/3684202496.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop("Additional Comments", axis=1, inplace=True)

In [28]:
df.to_csv('data/Anonymized_Data.csv', encoding="utf-8", index=False)